@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: none;
}

::-webkit-scrollbar-track {
  background: black;
}

/* img {
  display: block;
  max-width: 100%;
} */

/* html,
body,
#__next {
  height: 100%;
} */

/* div {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
} */

.invert {
  filter: invert(1);
}
